<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>First Website</h1>
<p>Welcome to Puppet</p>
<a href="https://docs.puppet.com/">Visit our Puppet tutorial</a>
</body>
</html>
